<section>
    <h3 id="certifications">Professional Certifications</h3>

    <table class="striped">
        <thead>
        <tr>
            <th>Issuer</th>
            <th>Name</th>
            <th>Issued</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for cert in hasCertification %}
            <tr>
                <td>{{ cert.issuedBy.name }}</td>
                <td>{{ cert.name }}</td>
                <td>{{ cert.validFrom }}</td>
                <td>
                    {% if cert.expires and date(cert.expires) < date() %}
                        <label>
                            <input type="checkbox" aria-invalid="true" disabled>
                            <span data-tooltip="{{ "Expired " ~ cert.expires }}">Expired</span>
                        </label>
                    {% else %}
                        <label>
                            <input type="checkbox" aria-invalid="false" disabled checked>
                            <span data-tooltip="{{ cert.expires ? "Expires " ~ cert.expires : "No expiration" }}">Active</span>
                        </label>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
<hr>