<h2 id="credentials">Educational Credentials</h2>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Credits</th>
        <th>Completed</th>
    </tr>
    </thead>
    <tbody>
    {% for credential in hasCredential %}
        <tr>
            {% if credential.isBasedOn %}
                <td>
                    {{ credential.isBasedOn.name }}<br>
                    <small>{{ credential.isBasedOn.alternateName }}</small>
                </td>
                <td>{{ credential.isBasedOn.numberOfCredits }}</td>
            {% else %}
                <td>
                    <strong>
                        {{ credential.name }}<br>
                        <small>{{ credential.alternateName }}</small>
                    </strong>
                </td>
                <td></td>
            {% endif %}
            <td>{{ credential.datePublished }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<hr>