{% macro url(url, text = null) %}
    <a href="{{ url }}">{{ text ?? url }}</a>
{% endmacro %}

{% macro role(role, attribute) %}
    <article>
        <hgroup>
            <h4>{{ role[attribute].name }}</h4>
            <p>
                <small>
                    {% if role[attribute].alternateName %}
                        {{ role[attribute].alternateName }} &mdash;
                    {% endif %}
                    {{ role[attribute].location }} &mdash;
                    {{ _self.url(role[attribute].sameAs, "Website") }}
                </small>
            </p>
        </hgroup>

        <div class="grid">
            <div>
                <p>
                    {% if attribute == "alumniOf" %}
                        <strong>Graduation:</strong> {{ role.startDate }}
                    {% else %}
                        <strong>{{ role.roleName }}</strong> from <em>{{ role.startDate }}</em> to <em>{{ role.endDate ?? "present" }}</em>.
                    {% endif %}
                </p>
            </div>
            {% if role.description %}
            <div>
                <p><em>{{ role.description|nl2br }}</em></p>
            </div>
            {% endif %}
        </div>

        {% if role[attribute].subOrganization %}
            <details>
                <summary role="button" class="secondary outline">Consulting Assignments</summary>
                <table>
                    <tbody>
                    {% for project in role[attribute].subOrganization %}
                        <tr>
                            <td>{{ _self.url(project.sameAs, project.name) }}</td>
                            <td>{{ project.description }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </details>
        {% endif %}
    </article>
{% endmacro %}