{% macro url(url, text = null) %}
    <a href="{{ url }}">{{ text ?? url }}</a>
{% endmacro %}

{% macro role(role, attribute) %}
    <article>
        <hgroup>
            <h3>{{ role[attribute].name }}</h3>
            <p>
                <small>
                    {% if role[attribute].alternateName %}
                        {{ role[attribute].alternateName }} &mdash;
                    {% endif %}
                    {{ role[attribute].location }} &mdash;
                    {{ _self.url(role[attribute].sameAs, "Website") }}
                </small>
            </p>
        </hgroup>

        <p>
            {% if attribute == "alumniOf" %}
                <strong>Graduation:</strong> {{ role.startDate }}
            {% else %}
                <em>{{ role.roleName }}</em> from {{ role.startDate }} to {{ role.endDate ?? "present" }}.
            {% endif %}
        </p>

        {% if role.description %}
            <blockquote>
                <p>{{ role.description|nl2br }}</p>
            </blockquote>
        {% endif %}

        {% if role[attribute].subOrganization %}
            <table>
                <thead>
                <tr>
                    <th colspan="2">Consulting Assignments</th>
                </tr>
                </thead>
                <tbody>
                {% for project in role[attribute].subOrganization %}
                    <tr>
                        <td>{{ _self.url(project.sameAs, project.name) }}</td>
                        <td>{{ project.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </article>
{% endmacro %}