{% macro url(url, text = null) %}
    <a href="{{ url }}">{{ text ?? url }}</a>
{% endmacro %}

{% macro period(startDate, endDate) %}
    {% set startFormat = date(startDate) %}
    {% set endFormat = endDate ? date(endDate) : date() %}
    {% set interval = endFormat.diff(startFormat) %}
    {{ interval.y }} years, {{ interval.m }} months
{% endmacro %}

{% macro role(role, attribute) %}
    <article>
        <hgroup>
            <h4>
                {{ role[attribute].name }}
            </h4>
            <p>
                <small>
                    {% if role[attribute].alternateName %}
                        {{ role[attribute].alternateName }} &mdash;
                    {% endif %}
                    {{ role[attribute].location }} &mdash;
                    {{ _self.url(role[attribute].sameAs, "Website") }}
                </small>
            </p>

            {% if role[attribute].description %}
                <p>
                    <small>&#9432; {{ role[attribute].description }}</small>
                </p>
            {% endif %}
        </hgroup>

        <div class="grid">
            <div>
                <p>
                    {% if attribute == "alumniOf" %}
                        <strong>Graduation:</strong> {{ role.startDate }}
                    {% else %}
                        <strong>{{ role.roleName }}</strong> from <em>{{ role.startDate }}</em> to <em>{{ role.endDate ?? "present" }}</em>.
                    {% endif %}
                </p>
                {% if role.alternateName %}
                <p>
                    Additional roles: {{ role.alternateName|join(", ") }}
                </p>
                {% endif %}
            </div>
            {% if role.description %}
            <div>
                <p><em>{{ role.description|nl2br }}</em></p>
            </div>
            {% endif %}
        </div>

        {% if role[attribute].subOrganization %}
            <details>
                <summary role="button" class="secondary outline">Consulting Assignments</summary>
                <table>
                    <tbody>
                    {% for projectRole in role[attribute].subOrganization %}
                        {% set project = projectRole.subOrganization %}
                        <tr>
                            <td>
                                {{ project.sameAs ? _self.url(project.sameAs, project.name) : project.name }}
                                {% if projectRole.numberedPosition > 1 %}
                                    ({{ projectRole.numberedPosition|format_ordinal_number }} tenure)
                                {% endif %}
                                <br>
                                <small>
                                    <em>{{ projectRole.startDate }}</em> to <em>{{ projectRole.endDate ?? "present" }}
                                </small>
                            </td>
                            <td>{{ project.description }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </details>
        {% endif %}
    </article>
{% endmacro %}