<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ post.title }} | Tomas Thelander</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>
<body>
<header class="container">
    <nav aria-label="breadcrumb">
        <ul>
            <li><a href="/">Home</a></li>
            <li>{{ post.title }}</li>
        </ul>
    </nav>
</header>
<main class="container">
    <h1>{{ post.title }}</h1>

    <section>
        {{ content|raw }}
    </section>
    <footer style="text-align: right;">
        <hr>
        <small>Published {{ post.date|date('Y-m-d') }}.</small>
    </footer>
</main>
</body>
</html>
