{% extends "base.html.twig" %}

{% block title %}{{ post.title }} | Tomas Thelander{% endblock %}

{% block content %}
<header class="container">
    <nav aria-label="breadcrumb">
        <ul>
            <li><a href="/">Home</a></li>
            <li>{{ post.title }}</li>
        </ul>
    </nav>
</header>
<main class="container">
    <h1>{{ post.title }}</h1>

    <section>
        {{ content|raw }}
    </section>
    <footer style="text-align: right;">
        <hr>
        <small>Published {{ post.date|date('Y-m-d') }}.</small>
    </footer>
</main>
{% endblock %}
